.portrait-container {
    width: 60%;
    margin-top: 30px;
}

.about-title {
    font-family: 'Playfair Display SC', serif;
    font-size: 36px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.about-para {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    width: 80%;
    text-align: center;
}

.about-contact-link {
    width: 80%;
    margin-bottom: 25px;
}

.about-contact-button {
    width: 100%;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: #B99ED8;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    
}

@media (min-width: 500px) {
    .about-para {
        font-size: 20px;
    }
}

@media (min-width: 600px) {
    .portrait-container {
        width: 50%;
    }

    .about-contact-button {
        font-size: 24px;
    }
}

@media (min-width: 650px) {
    .about-para {
        font-size: 24px;
    }
}
