/*
FONTS
    font-family: 'Mate SC', serif;
    font-family: 'Playfair Display SC', serif;
    font-family: 'Raleway', sans-serif;

COLOR PALLETE
    background-color: #BEBEBE; 
    background-color: #7F87E2;  
    background-color: #B99ED8;
    background-color: #FF5964
    background-color: #4A5759

    // Grey (background)
    // Blueish Purple (header/footer)
    // Purple (accent)
    // Firey Rose (list items)
    // Dark Space Sparkle (list background)

*/




a {
    text-decoration: none;
}

a:hover {
    opacity: 0.6;
}

img {
    width: 100%;
    height: auto;
}
.App {
    width: 100%;
    background-color: #BEBEBE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.App-header {
    width: 100%;
    height: 15%;
    background-color: #7F87E2
}

.non-nav-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#full-name {
    font-family: 'Mate SC', serif;
    font-size: 28px;
    margin-top: 0px;
}
#logo-container {
    width: 50px;
    height: 50px;
    margin: 15px;
    align-self: right;
}

.header-labels-container {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    right: 12px;
}

.header-label {
    margin: 0px;
}

#job-title {
    font-family: 'Playfair Display SC', serif;
    font-style: italic;
    font-size: 18px;
}

#burger-container {
    width: 8%;
    height: auto;
    margin: 15px
}

.navigation {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nav-link {
    width: 100%;
    border: 1px solid black;
    height: 44px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

.nav-link:hover {
    background-color: #B99ED8;
    opacity: 1;
}

.nav-text {
    width: 100%;
    font-size: 18px;
    color: black;
}

main {
    margin-bottom: 125px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #BEBEBE;
}

footer {
    background-color: #7F87E2;
    width: 100%;
    height: 125px;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.link-logo-container {
    width: 25%;
    
}

.social-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-image {
    width: 60%;
}

.credits {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.photo-credit {
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
}

.copyright {
    margin-top: 5px
}

@media (min-width: 450px) {
    .header-labels-container {
        right: 40px;
    }

    main {
        margin-bottom: 125px;
    }

    footer {
        height: 125px;
    }

    .social-image {
        width: 45%;
    }

    .photo-credit {
        font-size: 14px;
    }

    .copyright {
        font-size: 16px;
    }

}

@media (min-width: 500px) {
    #full-name {
        font-size: 32px;
    }

    #job-title {
        font-size: 20px;
    }

    .nav-text {
        font-size: 20px;
    }

    .photo-credit {
        font-size: 16px;
    }
}

@media (min-width: 600px) {
    #logo-container {
        width: 80px;
        height: 80px;
    }

    .header-labels-container {
        right: 50px;
    }

    #full-name {
        font-size: 42px;
    }

    #job-title {
        font-size: 28px
    }

    .nav-text {
        font-size: 24px
    }
}

@media (min-width: 700px) {
    .nav-link {
        padding: 8px 0px;
    }

    .credits {
        width: 60%;
    }

    .photo-credit {
        font-size: 18px;
    }

    .copyright {
        font-size: 20px;
    }
}

@media (min-width: 800px) {
    .header-labels-container {
        right: 100px;
    }
}

@media (min-width: 1056px) {
    .App {
        background-color: #4A5759
    }

    .header-labels-container {
        right: 180px;
    }

    main {
        width: 60%;
    }

    .social-image {
        width: 25%;
    }

    #burger-container {
        width: 3%;
    }
}